*.pyc
*.iml
target/
.idea/
*.egg*
.project
.pydevproject
.DS_Store

# virtual environment
ve
venv

# eclipse
.settings

# python stuff
build
dist

# temporary svn data
repository
working-copy

# vagrant stuff when using the vagrant box directly in the directory
develop-in-a-vagrant-box/.vagrant
develop-in-a-vagrant-box/Vagrantfile
develop-in-a-vagrant-box/epel-release-6-8.noarch.rpm
develop-in-a-vagrant-box/yadt-config-rpm-maker

# coverage data file
.coverage

