language: python
python:
  - "2.7"
  - "pypy"

before_script:
  - sudo apt-get install python-svn 
  - echo "Travis python version is ${TRAVIS_PYTHON_VERSION}"
  - ls $VIRTUAL_ENV
  - ln -s /usr/lib/python2.7/dist-packages/pysvn $VIRTUAL_ENV/lib/python2.7/site-packages/
  - sudo apt-get install rpm python-rpm
  - ln -s /usr/lib/python2.7/dist-packages/rpm $VIRTUAL_ENV/lib/python2.7/site-packages/
  - sudo apt-get install python-yaml
  - ln -s /usr/lib/python2.7/dist-packages/yaml $VIRTUAL_ENV/lib/python2.7/site-packages/
  - PYTHONPATH=src python test/__init__.py
  - sudo rm /bin/sh
  - sudo ln -s /bin/bash /bin/sh

script:
  - python setup.py test

